body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #ec2d39;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1.3rem;
}
.fa-square-facebook:hover{
    cursor: pointer;
    color: #4267B2;
}
.fa-linkedin:hover{
    cursor: pointer;
    color: #155fcf;
}
.fa-square-instagram:hover{
    cursor: pointer;
    color: #ec2d66;
}
.f-info{
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

img{
    height: 18rem !important;
}
.listing-links{
    text-decoration: none;
    color: black;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* Show */
.show-btns{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.btn-edit{
    text-decoration: none;
    color:white;
    padding: 12px;
}
.btn-delete{
    margin-left: 3.5rem;
}

/* Map */
#map{
    height: 400px;
    width: 80vh;
}